.header-bar {
  position: absolute;
  width: 100%;
  height: 70px;
  background: #333;
  color: #fff;
  padding: 0;
  margin: 0;
  z-index: 1;

  .nav-bar {
    height: 10%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    p {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 5px;
      &:hover {
        //background: darken(@header-bg-color, 10%);
        &::before {
          content: "";
          width: 80%;
          height: 2px;
          background: rgba(255, 255, 255, 0.5);
          position: absolute;
          bottom: 0;
          margin: auto;
        }
      }
    }

    .nav-link {
      p {
        line-height: 50px;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      li.nav-link {
        justify-content: center;
        position: relative;
        display: inline-block;
        padding: 0 15px;
        a {
          color: inherit;
          text-decoration: none;
          position: relative;
        }
      }
    }
    .logo {
      justify-content: center;
      width: 100%;
      padding: 0 15px;
      img {
        width: 100%;
        max-width: 120px;
        margin: 0;
      }
    }
  }
}

.main-content {
  min-height: 94%;
  background: #dcdcdc;
  position: relative;
}

.content-centre {
  background: white;
  padding-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 2%;
}
